@import "_default_styles";

#navbar-dropdown-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-size: 20px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $white;
    color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-dropdown-menu {
        width: 80px;
        height: auto;   
        position: absolute;
        right: 20px;
        top: 47px;
        z-index: 30px;
        list-style: none;
        font-size: 14px;
        display: none;

        .dropdown-item {
            line-height: 20px;
            width: 100%;
            text-align: right;
            color: white;
            padding: 10px 15px;
            background: $dark_cyan;
        }
    }

    &:hover {
        .nav-dropdown-menu {
            display: block;
        }
    }
}