@import "_default_styles";

.splash-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 80%;
  padding: 0 10%;
  background-color: white;

  .splash-nav-left {
    display: flex;
    align-items: center;

    .splash-title {
      margin-right: 20px;
      margin-left: 10px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: medium;

      strong {
        font-weight: bold;
        color: $cyan;
      }

      border-bottom: 5px solid $cyan;
    }
  }

  .splash-nav-btns {
    margin-right: 10px;
    display: flex;

    .nav-button {
      color: $gray;
      text-decoration: none;
      box-sizing: border-box;
      border: none;
      background: none;
      height: 60px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 18px;

      &:hover {
        background-color: white;
        color: $cyan;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 0px solid $cyan;
        transition: border-bottom 0.15s;
      }
      &:hover:after {
        border-bottom: 5px solid $cyan;
        transition: border-bottom 0.15s;
      }
    }
  }
}
