@import "../base/_default_styles";

#bathroom-index {
  background: $lightest_black;

  #bathroom-list-wrapper {
    width: 100%;

    #bathroom-list {
      height: calc(100vh - 44px);
      overflow: scroll;

      li[class^="bathroom-list-item-"] {
        display: flex;
        padding: 30px 5%;
        width: 90%;
        border-bottom: 1px solid gray;
        cursor: pointer;
        background: $white;

        .bathroom-info {
          width: 85%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .bathroom-info-right {
            h2 {
              text-transform: capitalize;
              font-size: 20px;
              font-weight: 600;
              color: $cyan;
              margin-bottom: 16px;
            }

            span {
              font-size: 14px;
              color: $gray;
              margin-left: 20px;
            }
          }

          h4 {
            color: $gray;
            font-size: 18px;
          }
        }
        .list-item-arrow {
          position: relative;
          display: flex;
          width: 10%;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transform: translateX(20px);
          transition-property: opacity, transform;
          transition-duration: 0.2s;
          font-size: 20px;
          text-align: left;

          span {
            position: absolute;
            left: -150%;
            overflow: visible;
          }

          i {
            font-size: 30px;
          }
        }

        &:hover {
          background: $cyan;

          .bathroom-info-right {
            h2 {
              color: white;
            }
            span {
              color: $gray;
            }
          }

          h4 {
            color: $white;
          }

          .list-item-arrow {
            opacity: 1;
            color: white;
            transform: translateX(0);
            transition-property: opacity, transform;
            transition-duration: 0.2s;
          }
        }
      }
    }
  }
}

// scroll bar stuff
::-webkit-scrollbar {
  width: 0px;
}

// ::-webkit-scrollbar-track {
//     background: $light_gray;
// }

// ::-webkit-scrollbar-thumb {
//     background: $dark_cyan;
//     border-radius: 5px;
// }
