@import "_default_styles";

#filter-bar-wrapper {
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, $gray, $light_gray);
    transition: max-height 0.2s ease-in;

    #category-filter-list {
        width: 100%;
        max-height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        li[class^="filter-item-"] {
            display: inline;
        }
   }
}

.chbox-appear {

}

.chbox-disappear {

}

@keyframes chbox-appear {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes chbox-disappear {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}