.bathroom-form-container {
  width: 50%;
  justify-content: center;

  button,
  input,
  label {
    width: 50%;
  }

  #bathroom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

