$almost_white: #eeeeee;

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form-container {
  box-sizing: border-box;
  background-color: $almost_white;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.signup-button-container {
  display: flex;
  flex-direction: column;
}

.facebook-button,
.google-button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(69, 104, 178);
  border-radius: 4px;
  padding: 10px 22px;
  max-width: 450px;
  width: 100%;
}

.facebook-button p,
.google-button p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.google-button {
  background-color: white;
  border: 2px grey solid;
  margin-top: 5px;
}

.google-button p {
  color: grey;
}

.login-form-container {
  background-color: $almost_white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
